data/20220804_Titulados_ed_Superior_2010_WEB.csv
data/20220804_Titulados_ed_Superior_2011_WEB.csv
data/20220804_Titulados_ed_Superior_2012_WEB.csv
data/20220804_Titulados_ed_Superior_2013_WEB.csv
data/20220804_Titulados_ed_Superior_2014_WEB.csv
data/20220804_Titulados_ed_Superior_2015_WEB.csv
data/20220804_Titulados_ed_Superior_2016_WEB.csv
data/20220804_Titulados_ed_Superior_2017_WEB.csv
data/20220804_Titulados_ed_Superior_2018_WEB.csv
data/20220804_Titulados_ed_Superior_2019_WEB.csv
data/20220804_Titulados_ed_Superior_2020_WEB.csv
data/20220804_Titulados_ed_Superior_2021_WEB.csv
data/data.rar